
<footer class="relative bottom-0 w-full h-16 flex justify-center items-center bg-gray-900 border-t-2 border-gray-300 shadow-sm">
  <div class="text-white font-semibold tracking-wider">© Copyright 2020 Blogiemedia Inc.</div>
</footer>


<script src="/js/selectActiveLink.js"></script>

</body>
</html>