
<%- include("includes/header.ejs") %>


    <section id="background" class="mt-16 w-full shadow-md">
        <div class="absolute top-0 w-full flex flex-col justify-center items-center mt-16 bg-gray-900 opacity-75 md:opacity-0 md:hover:opacity-75 rounded-br-lg rounded-bl-lg z-20 transition-all duration-150 ease-in-out cursor-default" style="height:30.1rem">
           <h1 class="text-white font-bold text-4xl tracking-wider">Welcome To Our Site</h1>
           <a href="/blogs/create" class="absolute top-0 mt-64 transform translate-y-8 px-10 py-6 bg-indigo-700 focus:bg-indigo-800 text-lg font-bold text-white hover:text-indigo-300 focus:outline-none rounded-tr-full rounded-bl-full transition-all duration-150 ease-in-out">Create New Blog</a>
        </div>
        <img src="/assets/images/bg.jpg" class="w-full mt-16 rounded-br-lg rounded-bl-lg" style="height:30rem">
    </section>
  

    <section id="blogs_quotes" class="w-full mb-20 py-6 px-10 flex flex-col items-center">
        <header class="w-full my-10 py-4 flex justify-center items-center">
             <div>
                 <h1 class="font-bold md:font-extrabold text-2xl md:text-4xl text-orange-600">Some Famous Blogging Quotes</h1>
             </div>
        </header>
       <div class="w-full flex justify-center">
            <article id="1" class="article flex md:border md:border-gray-100">
                <div id="quote1_img" class="w-full flex justify-center p-3">
                    <img src="/assets/images/quote1.jpg" class="w-8/12 h-56 flex-shrink-0 rounded-lg">
                </div>
                <div id="desc_quote1" class="w-full ml-12 py-2 px-16 ">
                    <h1 class="my-1 text-gray-900 font-extrabold text-xl">Andrew Sullivan</h1>
                    <p class="mt-2 mb-4 text-gray-600 text-sm md:text-base font-semibold italic leading-tight">“Blogging is to writing what extreme sports are to athletics: more free-form, more accident-prone, less formal, more alive. It is, in many ways, writing out loud.”</p>
                </div>
            </article> 
            <article id="2" class="article hidden md:border md:border-gray-100">
                <div id="quote1_img" class="w-full flex justify-center p-3">
                    <img src="/assets/images/quote2.jpg" class="w-8/12 h-56 flex-shrink-0 rounded-lg">
                </div>
                <div id="desc_quote2" class="w-full ml-12 py-2 px-16">
                    <h1 class="my-1 text-gray-900 font-extrabold text-xl">Pat Flynn</h1>
                    <p class="mt-2 mb-4 text-gray-600 text-sm md:text-base font-semibold italic leading-tight">Selling to people through social media is like going to a party, meeting somebody for the first time, and then saying, <strong class="text-gray-600">“Hey, do you want to buy this Tupperware?”</strong></p>
                </div>
            </article> 
            <article id="3" class="article hidden md:border md:border-gray-100">
                <div id="quote1_img" class="w-full flex justify-center p-3">
                    <img src="/assets/images/quote3.jpg" class="w-8/12 h-56 flex-shrink-0 rounded-lg">
                </div>
                <div id="desc_quote3" class="w-full ml-12 py-2 px-16 ">
                    <h1 class="my-1 text-gray-900 font-extrabold text-xl">Darren Rowse</h1>
                    <p class="mt-2 mb-4 text-gray-600 text-sm md:text-base font-semibold italic leading-tight">“I’ve long advised that bloggers seeking to make money from blogging spread their interests across multiple revenue streams so as not to put all their eggs in one basket.”</p>
                </div>
            </article> 
       </div>
      <div id="quote_tabs" class="flex mt-6 text-gray-700 font-bold border border-gray-400 rounded-md select-none">
          <div data-id="1" class="activeTab quoteTab">1</div>
          <div data-id="2" class="quoteTab">2</div>
          <div data-id="3" class="quoteTab">3</div>
      </div>
    </section>




<script src="/js/makeTaps.js"></script>   
    
<%- include("includes/footer.ejs") %>