<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <title><%= title %></title>
</head>
<body>
    
    <div class="mt-24 container mx-auto border-gray-100">
        <h1 class="mt-20 text-center text-4xl text-gray-700">404 Page Not Found</h1>
    </div>
    
</body>
</html>

